biopanpipe_bindir = "./bin"

process.clusterOptions=''
includeConfig '/local_scratch/amodrego/nextflow_node_limiter.config'
includeConfig '/local_scratch/amodrego/configCallingPipelineSingularity.config'

process {
	executor = 'slurm'
	scratch = "${params.scratchDir}"
	maxRetries = 5
	errorStrategy = 'retry'
	stageOutMode  = 'move'
	queue = 'normal_prio_long'

	clusterOptions = clusterExclusion + ' --nice=100'

	withName: gdc_download_normal{
		cpus = 2
		memory = {15000.MB * task.attempt}
		queue = 'downloads'
		time = {12.h * task.attempt}
		maxRetries = 12
		clusterOptions = clusterExclusion + ' -A downloads --nice=500'
	}

	withName: gdc_download_tumor {
	  cpus = 2
	  memory = {15000.MB * task.attempt}
	  time = {12.h * task.attempt}
	  queue = 'downloads'
	  maxRetries = 12
	  clusterOptions = clusterExclusion + ' -A downloads --nice=500'
	}

	withName:  prepare_reference_genome_hg38 {
		cpus = 1
		memory = {6500.MB * task.attempt}
		time = {1.h * task.attempt}
	}

	withName:  prepare_reference_genome_t2t {
		cpus = 1
		memory = {6500.MB * task.attempt}
		time = {1.h * task.attempt}
	}

  withName: normal_bam_to_realigned_bam_hg38 {
		container = 'danielnaro/bwa_mem2_with_samtools:v3'
	  cpus = 30
	  memory = {200.GB * task.attempt}
	  time = {100.h * task.attempt}
	}

	 withName: tumor_bam_to_realigned_bam_hg38 {
 		container = 'danielnaro/bwa_mem2_with_samtools:v3'
 	  cpus = 30
 	  memory = {200.GB * task.attempt}
 	  time = {100.h * task.attempt}
 	}

  withName: normal_bam_to_realigned_bam_t2t {
		container = 'danielnaro/bwa_mem2_with_samtools:v3'
	  cpus = 30
	  memory = {160.GB * task.attempt}
	  time = {100.h * task.attempt}
	}

	 withName: tumor_bam_to_realigned_bam_t2t {
 		container = 'danielnaro/bwa_mem2_with_samtools:v3'
 	  cpus = 30
 	  memory = {160.GB * task.attempt}
 	  time = {120.h * task.attempt}
 	}

  withName: msisensor {
	  cpus = 1
	  memory = {12.GB * task.attempt }
	  time = {6.h * task.attempt}
	  container = 'cassisbonbon/msisensor:v1.0'
	}

  withName: manta_calling_somatic_hg38 {
	  cpus = 8
	  memory = { 10.GB * task.attempt }
	  time = {8.h * task.attempt}
	  container = 'https://depot.galaxyproject.org/singularity/manta:1.6.0--h9ee0642_1'
	}

	withName: strelka_somatic_hg38 {
	  cpus = 8
	  memory = { 10.GB * task.attempt }
	  time = {10.h * task.attempt}
	  container = 'https://depot.galaxyproject.org/singularity/strelka:2.9.10--h9ee0642_1'
	}

  withName: manta_calling_somatic_t2t {
	  cpus = 8
	  memory = { 10.GB * task.attempt }
	  time = {8.h * task.attempt}
	  container = 'https://depot.galaxyproject.org/singularity/manta:1.6.0--h9ee0642_1'
	}

	withName: strelka_somatic_t2t {
	  cpus = 8
	  memory = { 10.GB * task.attempt }
	  time = {10.h * task.attempt}
	  container = 'https://depot.galaxyproject.org/singularity/strelka:2.9.10--h9ee0642_1'
	}
	
	withName: retrieve_sex {
	  cpus = 1
	  memory = {100.MB}
	  time = '1h'
	  container = 'cassisbonbon/retrievesexdocker:v1.0'
	}
}

trace {
    enabled = true
}

report {
    enabled = true
}

timeline {
    enabled = true
}

tower {
  enabled = true
  accessToken = 'eyJ0aWQiOiA3OTYzfS4yMDQ4NjdmYmI3NzBjMTE3NjQ4YTI0MzJkMTFlY2E4ZDUwN2M4YTAx'
}
